<div class="outer">
  <div class="container">
    <div class="row">
      <div class="col-lg-5 col-md-7 offset-lg-4">
        <div class="panel border bg-white border-radius: 10px">
          <div class="panel-heading">
            <h3 class="pt-3 font-weight-bold h3 text-center">Sign Up</h3>
          </div>
          <div class="panel-body">
            <div class="input-field form-control">
              <i class="fa-solid fa-user" style="color: #6a96e2"></i>
              <input class="input" type="text" placeholder="FirstName" />
            </div>
            <div class="input-field form-control">
              <i class="fa-regular fa-user" style="color: #6a96e2"></i>
              <input class="input" type="text" placeholder="LastName" />
            </div>
            <div class="input-field form-control">
              <i class="fa-solid fa-envelope" style="color: #6a96e2"></i>
              <input class="input" type="text" placeholder="Email" />
            </div>
            <div class="input-field form-control">
              <i class="fa-solid fa-user-tie" style="color: #6a96e2"></i>
              <input class="input" type="text" placeholder="Username" />
            </div>
            <div class="input-field form-control">
              <i class="fa-solid fa-lock" style="color: #6a96e2"></i>
              <input class="input" [type]="type" placeholder="Password" />
              <i
                (click)="hiddenPassord()"
                class="{{ eyeIcon }} icon-eye-slash"
              ></i>
            </div>
            <div>
              <button class="btn btn-primary w-100 mt-4">Sign Up</button>
            </div>
            <div class="text-center mt-4">
              <span>Already have account? </span>
              <a id="login" href="login">Login</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
